body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 80%;
    width: 100%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#controls input, #controls button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#controls input {
    width: 200px;
}
